<section style="min-height: 400px;background-image: url(assets/images/banner-charity2.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="container" >
      <div class="row  slider-text" data-scrollax-parent="true" >
        <div class="col-md-12" style="margin-top:15%">
         
          <!-- <h1 class="mb-4">Our Charities & Social Responsibility</h1> -->
                 </div>
      </div>
    </div>
      </section>
      <section class="ftco-section ftco-about ftco-no-pt img">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-12 about-intro">
              <div class="row">
               
                <div class="col-md-12 pl-md-5 py-5">
                  <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section">
                                           <h5 class="mb-4 text-center">Our Charities & Social Responsibility</h5><hr>
                      <p id="p1">                       
Launched in 2010, the Geo Charity Initiative helps raise funds for less fortunate countries and communities around the world, many of which have given us and our guests such a warm welcome and endless enjoyment. The scheme involves us levying a small voluntary contribution on each tailor-made and escorted tour invoice which we then match before distributing the entire amount to our chosen project.
Sum of amount has been raised and distributed to a wide variety of projects around the world. We and the recipients are deeply grateful for your generous support. Thank You.
                      </p>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>  
