<!-- <footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(assets/images/bg_3.jpg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md pt-5">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <!-- <h2 class="ftco-heading-2">ABOUT</h2> --
            <img src="assets/images/logo.png" alt=""><br><br>
            <p style="text-align: justify;">Geo Holidays is a leading Inbound & outbound tour operator in India with over 15 years of experience. With our expertise in handling tours, we offer the best of services and also guarantee satisfaction along with an unforgettable experience..</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md pt-5 border-left">
          <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
           <h2 class="ftco-heading-2">QUICK LINKS</h2>
            <ul class="list-unstyled">
              <li><a routerLink="/home" class="py-2 d-block">Home</a></li>
              <li><a routerLink="/about"  class="py-2 d-block">About Us</a></li>
              <li><a routerLink="/services"  class="py-2 d-block">Services</a></li>
              <li><a routerLink="/gallery"  class="py-2 d-block">Gallery</a></li>
              <!-- <li><a href="#" class="py-2 d-block">Blogs</a></li> --
              <li><a routerLink="/contact"  class="py-2 d-block">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md pt-5 border-left">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">COMPANY</h2>
          <ul class="list-unstyled">
              <li><a routerLink="/charity"  class="py-2 d-block">Our Charities & Social Responsibility</a></li>
              <li><a routerLink="/disclaimer"  class="py-2 d-block">Disclaimer</a></li>
              <li><a routerLink="/reservation"  class="py-2 d-block">Reservation Policy</a></li>
              <li><a routerLink="/privacy"  class="py-2 d-block">Privacy Policy</a></li>
              <li><a routerLink="/terms"  class="py-2 d-block">Terms & Conditions</a></li>
                         </ul>
          </div>
        </div>
        <div class="col-md pt-5 border-left">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map-marker"></span><span class="text">539 Mervin Underpass  South Angelinemouth Sudan</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+65498-41564-55</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">jazmyne.hammes &#64; kuhic.me</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --
            Copyright &copy;2024 All rights reserved </p>
          
          </div>
        </div>
      </div>
    </footer> -->

    
        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
          <div class="container py-5">
              <div class="row g-5">
                  <div class="col-md-6 col-lg-6 col-xl-3">
                    
                      <div class="footer-item d-flex flex-column">
                        <div class="footer-item">
                          <h4 class="text-secondary mb-4"> Geo Holidays</h4>
                          <p class="text-white mb-3"> We are the  leading Inbound & outbound tour operator in India with over 15 years of experience.Join us in a journey that you will cherish for the rest of your lifetime, as you experience luxurious travel services that will indeed exceed all your expectations.</p>
                         
                                 
                      </div>
                         
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-3">
                      <div class="footer-item d-flex flex-column">
                        <h4 class="text-secondary mb-4">Quick Links</h4>
                        <a routerLink="/home" class=""><i class="fas fa-angle-right me-2"></i>Home</a>
                        <a routerLink="/about" class=""><i class="fas fa-angle-right me-2"></i>About</a>
                        <a routerLink="/packages" class=""><i class="fas fa-angle-right me-2"></i>Packages</a>
                        <a routerLink="/ayurveda" class=""><i class="fas fa-angle-right me-2"></i>Ayurveda Package</a>
                        <a routerLink="/flight" class=""><i class="fas fa-angle-right me-2"></i> Flights & Hotels</a>
                        <a routerLink="/offers" class=""><i class="fas fa-angle-right me-2"></i> Offers</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-3">
                      <div class="footer-item d-flex flex-column">
                          <h4 class="text-secondary mb-4">Quick Links</h4>
                         
                          <a routerLink="/gallery" class=""><i class="fas fa-angle-right me-2"></i> Gallery</a>
                          <a routerLink="/services" class=""><i class="fas fa-angle-right me-2"></i> Services</a>
                          <a routerLink="/blog" class=""><i class="fas fa-angle-right me-2"></i> Blog</a>
                          <a routerLink="/privacy" class=""><i class="fas fa-angle-right me-2"></i> Privacy Policy</a>
                          <a routerLink="/terms" class=""><i class="fas fa-angle-right me-2"></i> Terms & Conditions</a>
                         
                          <a routerLink="/disclaimer"><i class="fas fa-angle-right me-2"></i>Disclaimer</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                    <h4 class="text-secondary mb-4">Contact Info</h4>
                    <a href=""><i class="fa fa-map-marker-alt me-2"></i> {{this.aboutData.address}}</a>
                    <a href=""><i class="fas fa-envelope me-2"></i> {{this.aboutData.email}}</a>
                    <a href=""><i class="fas fa-phone me-2"></i>{{aboutData.phone_number}}</a>
                               <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-secondary me-2"></i>
                        
                        <!-- <a class="btn btn-sm btn-outline-light btn-square rounded-circle me-2" href="{{socialData[0].link}}"><i class="fab fa-twitter fw-normal text-secondary"></i></a> -->
                        <a class="btn btn-sm btn-outline-light btn-square rounded-circle me-2" target="_blank" href="{{socialData[0].link}}"><i class="fab fa-facebook-f fw-normal text-secondary"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-square rounded-circle me-2" target="_blank" href="{{socialData[1].link}}"><i class="fab fa-linkedin-in fw-normal text-secondary"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-square rounded-circle me-2" target="_blank" href="{{socialData[2].link}}"><i class="fab fa-whatsapp fw-normal text-secondary"></i></a>
                        
                    </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
          <div class="container">
              <div class="row g-4 align-items-center">
                  <div class="col-md-12 text-center mb-md-0">
                      <span style="text-align: center !important;color:green"><i class="fas fa-copyright text-dark me-2"></i>Geo Holidays, All right reserved.</span>
                  </div>
                 
              </div>
          </div>
      </div>
      <!-- Copyright End -->